   .footer {
       background-color: #252727;
       padding: 20px;
       color: white;
       margin: auto;
       margin-top: 18px;
   }
   
   .row {
       display: flex;
       padding: 10px;
   }
   
   .container {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }
   
   .col {
       float: inline-start;
       display: block;
       justify-content: left;
   }
   
   .quicklinks {
       display: block;
       width: 90%;
       justify-content: left;
       margin: auto;
       color: white;
   }
   
   .ph {
       display: flex;
   }
   
   .Phone-icon {
       width: 25px;
       padding-right: 7px;
       background-color: #252727;
   }
   
   .phone-number {
       font-weight: 400;
       font-size: 15px;
   }
   
   .git-icon {
       width: 40px;
       height: 40px;
       padding-right: 7px;
       background-color: #252727;
   }
   
   .col2 {
       padding-left: auto;
       justify-content: center;
       text-align: center;
   }
   
   .col3 {
       padding-right: 10px;
       text-align: center;
   }
   
   .col4 {
       padding-right: 90px;
       text-align: center;
   }
   
   @media (max-width: 576px) {
       .container {
           flex-direction: column;
           align-items: left;
       }
       .col {
           margin-top: 10px;
       }
   }